body {
  background-color: #e5e4e2;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
a {
  margin: 8px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.bowl-img {
  max-width: 50%;
  margin: 0 auto;
  border-radius: 4px;
}
